body
{
    background: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Arial";
}
#Inferior
{
    background: rgba(177, 177, 177, 0.486);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Arial";
}

#Continer
{
    border: 1px solid #ddd;
}

#Inferior2
{
    background: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    text-align: center;
    font-family: "Arial";
}